<!DOCTYPE html>
{%  load static %}
<html>
    <head>
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
         <link rel="stylesheet" href="{% static "css/base.css" %}" /><!-- CSS -->
         <script src="{% static "js/jquery-1.11.0.min.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <div>
        <ul>
            <li><a href="/rango/">Index</a></li>
            <li><a href="/rango/about/">About</a></li>
            {% if user.is_authenticated %}
              <li><a href="/rango/add_category/">Add a New Category</a></li>
            {% endif %}
        </ul>
        </div>
        <hr />
        <div>
            {% block body_block %}

            {% endblock %}

        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/rango/restricted/">Restricted Page</a></li>
                <li><a href="/rango/logout/">Logout</a></li>
            {% else %}
                <li><a href="/rango/register/">Register Here</a></li>
                <li><a href="/rango/login/">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </body>
</html>