<!DOCTYPE html>
{%  load static %}
<html>
<head>
    <title>Rango</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" /><!-- CSS -->
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script> <!-- JavaScript -->
</head>
<body>
    <h1>{{ category_name }}</h1>
    {% if category %}
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category {{ category_name }} does not exist!
    {% endif %}
    <a href="/rango/">Index</a>
    <a href="/rango/about/">About</a><br />
    <img src="{% static "rango.jpg" %}" alt="Picture of Rango" />
</body>
</html>